<template>
  <div>
    <!-- <q-item to="/vigorapp">
      <q-item-side icon="mdi-exit-to-app" color="text2" />
      <q-item-main label="VIGOR APP" class="text-text1" />
    </q-item> -->

    <!-- <q-item to="/vigliquidity" v-if="getIsCustodian || getIsCandidate">
      <q-item-side icon="monetization_on" color="text2" />
      <q-item-main label="Vigliquidity" class="text-text1" />
    </q-item> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { openURL } from "quasar";
export default {
  name: "menuExtension",
  data() {
    return {};
  },
  methods: {
    openURL
  },
  computed: {
    ...mapGetters({
      getSettingByName: "user/getSettingByName",
      getIsCustodian: "user/getIsCustodian",
      getIsCandidate: "user/getIsCandidate"
    })
  }
};
</script>

<style></style>
